body {
  background: white;
  font-family: "EB Garamond", serif;
}

/* about */
/* .about .slick-next {
  width: 50px;
  height: 50px;
  background-color: #1e315d !important;
  color: blue !important;
  border: 3px solid white;
  border-radius: 0;
  opacity: 0.8;
  position: absolute;
  right: 50%;
  top: 100% !important;
  transform: translate(50%, -50%) rotate(45deg);
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  -moz-transform: translate(50%, -50%) rotate(45deg);
  -ms-transform: translate(50%, -50%) rotate(45deg);
  -o-transform: translate(50%, -50%) rotate(45deg);
}

.about .slick-arrow.slick-prev {
  display: none !important;
}

.about .slick-next:before {
  font-family: none;
  transform: rotate(0) !important ;

} */

.about .slick-next {
  width: 50px;
  height: 50px;
  background-color: white !important;
  color: blue !important;
  border: 2px solid blue;
  border-radius: 0;
  opacity: 0.8;
  position: absolute;
  right: 50%;
  top: 100% !important;
  transform: translate(50%, -50%) rotate(45deg); 
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  -moz-transform: translate(50%, -50%) rotate(45deg);
  -ms-transform: translate(50%, -50%) rotate(45deg);
  -o-transform: translate(50%, -50%) rotate(45deg);
}

.about .slick-arrow.slick-prev {
  display: none !important;
}

.about .slick-next:before {
  font-family: none;
  color : blue;
  font-size: x-large;
  display: inline-block; 
  transform: rotate(-45deg) !important; 
  -webkit-transform: rotate(-45deg) !important;
  -moz-transform: rotate(-45deg) !important;
  -ms-transform: rotate(-45deg) !important;
  -o-transform: rotate(-45deg) !important;
}


/* popular */


.popular .slick-next {
  left: 50%;
}

.popular .slick-prev {
  left: 30%;
}

.popular .slick-prev,
.popular .slick-next,
.people .slick-prev,
.people .slick-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 0.5rem;
  color: blue !important;
  opacity: 0.8;
  position: absolute;
  top: 100% !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.popular .slick-prev:before,
.popular .slick-next:before,
.people .slick-prev:before,
.people .slick-next:before {
  font-family: none;
  font-size: 24px;
  line-height: 1;
  opacity: 1;
  color: white;
}

.popular .slick-prev:hover,
.popular .slick-next:hover,
.people .slick-prev:hover,
.people .slick-next:hover {
  background-color: #fbbf24;
  transition: background-color 0.5s;

}



.Header {
  background:
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../src/assets/imgs/categoty.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.popular .popular-bg {
  background:
    linear-gradient(to bottom right, rgba(37, 99, 235, 0.7), rgba(37, 99, 235, 0.7)),
    url(assets/imgs/blur-bg.jpg);

}

/* What People Say */

.people {
  background:
    linear-gradient(to bottom right, rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.8)),
    url(../src/assets/imgs/categoty.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center center;
}


.people .slick-dots li button:before {
  color: #1e315d !important;
  font-size: 1rem;
  opacity: 1 !important;
}

.people .slick-dots li.slick-active button:before {
  background-color: #fbbf24 !important;
  color: transparent !important;
  border: 2px solid white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.head-icon::before {
  content: "\f0c8";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #fec826;
  display: inline-block;
  margin-right: 0.25rem;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: -8px;

}

/* Lets Take Your Book */

.Take input {
  background-color: transparent;
  border: 2px solid white;
  padding: 6px 12px;
  min-height: 40px;
  display: block;
  width: 85%;
  height: 34px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.Take input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.Take input::placeholder {
  color: white;

}

.Take .accoutBtn {
  min-width: 160px;
  padding: 14px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 0 0 #aaaaaa;
  margin: 20px 0;
  border: none;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.Take .accoutBtn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* Choose Demo */
.demo {
  width: 100%;
  position: relative;
  /* background-image: url(../src/assets/imgs/demo-bg.png); */
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../src/assets/imgs/demo-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.image-container {
  height: 650px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  transition: top 2s ease-in-out;
  -webkit-transition: top 2s ease-in-out;
  -moz-transition: top 2s ease-in-out;
  -ms-transition: top 2s ease-in-out;
  -o-transition: top 2s ease-in-out;
}

.image-container:hover img {
  top: -100%;
}

.demo .layout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 100%;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.image-container:hover .layout{
  height: 150px;
  width: 150px;
  opacity: 1;
  color: white;
  
}






.scale-up-center {
  -webkit-animation: scale-up-center 0.7s ease-in-out both;
  animation: scale-up-center 0.7s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}