body {
  background: white;
  font-family: "EB Garamond", serif;
}

.about .slick-next {
  width: 50px;
  height: 50px;
  background-color: #1e315d !important;
  color: blue !important;
  border: 2px solid white;
  border-radius: 0;
  opacity: 0.8;
  position: absolute;
  right: 50%;
  top: 100% !important;
  transform: translate(50%, -50%) rotate(45deg);
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  -moz-transform: translate(50%, -50%) rotate(45deg);
  -ms-transform: translate(50%, -50%) rotate(45deg);
  -o-transform: translate(50%, -50%) rotate(45deg);
}

.about .slick-arrow.slick-prev {
  display: none !important;
}

.about .slick-next:before {
  font-family: none;
}


.popular .slick-next {
  left: 50%;
}

.popular .slick-prev {
  left: 30%;
}

.popular .slick-prev,
.popular .slick-next,
.people .slick-prev,
.people .slick-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 0.5rem;
  color: blue !important;
  opacity: 0.8;
  position: absolute;
  top: 100% !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.popular .slick-prev:before,
.popular .slick-next:before,
.people .slick-prev:before,
.people .slick-next:before {
  font-family: none;
  font-size: 24px;
  line-height: 1;
  opacity: 1;
  color: white;
}

.popular .slick-prev:hover,
.popular .slick-next:hover,
.people .slick-prev:hover,
.people .slick-next:hover {
  background-color: #fbbf24;
  transition: background-color 0.5s;

}



.Header {
  background:
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../src/assets/imgs/categoty.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.popular .popular-bg {
  background:
    linear-gradient(to bottom right, rgba(37, 99, 235, 0.7), rgba(37, 99, 235, 0.7)),
    url(assets/imgs/blur-bg.jpg);

}

.people {
  background:
    linear-gradient(to bottom right, rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.8)),
    url(../src/assets/imgs/categoty.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center center;
}


.people .slick-dots li button:before {
  color: #1e315d !important;
  font-size: 1rem;
  opacity: 1 !important;
}

.people .slick-dots li.slick-active button:before {
  background-color: #fbbf24 !important;
  color: transparent !important;
  border: 2px solid white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.7s ease-in-out both;
  animation: scale-up-center 0.7s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}